*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img{
  height: 200px;
  width: 200px;
 
} */

.body{
  background: #02031f;
  color: #fff;
  width: 100%;
  height: 100%;
}



/* .spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}

.grid{
  padding-top: 60px;
} */